In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('earthquakes.csv')

In [3]:
df.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,2005-01-05 01:23:30.430,37.056,141.470,48.1,4.3,Mw,16,NaN,NaN,1.05,NEI,200501054004
1,2005-01-06 13:00:40.220,41.456,142.065,65.5,5.4,Mw,269,NaN,NaN,0.83,NEI,200501064042
2,2005-01-17 01:44:52.690,41.894,143.900,50.0,4.0,Mb,6,NaN,NaN,0.40,NEI,200501174016
3,2005-01-18 14:33:59.200,41.555,142.102,97.5,4.0,Mb,15,NaN,NaN,1.07,NEI,200501184072
4,2005-01-22 23:24:42.270,38.803,141.660,42.6,4.2,Mb,10,NaN,NaN,1.03,NEI,200501224082

In [4]:
df.tail()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
6247,2014-12-26 21:04:40.950,38.2494,141.8790,69.47,4.5,Mb,NaN,118,1,0.87,us,201412262046
6248,2014-12-27 18:19:03.530,37.5776,141.7149,45.18,4.7,Mb,NaN,70,1,0.93,us,201412272050
6249,2014-12-28 09:00:54.920,41.9331,142.5007,59.06,4.7,Mb,NaN,108,0,0.70,us,201412282025
6250,2014-12-28 11:49:47.180,38.3949,144.3947,35.00,5.1,Mb,NaN,32,3,0.63,us,201412282030
6251,2014-12-30 17:01:34.540,36.1042,143.3271,27.22,4.4,Mb,NaN,149,3,1.02,us,201412302060